h1 {
    text-align: center;
    font-size: 300%;
    color: #c2f65b; 
    
  }

  img{
    width:10%;
    flex-wrap: wrap;
    margin: 20px;
    display: block;
    
  }
header{
    background-image: url('baniere-star.jpg');
}